.flash-box
.wrapper  
  = render "shared/side_bar"
  .chat-main
    .main-header
      .current-group
        %p.current-group__title
          = @group.name
        %ul.member-list 
          %li "メンバー"
          - @group.users.each do |user|
            %li.member-list__member
              = user.name
      = link_to edit_group_path(@group) do
        %p.edit Edit
    .message-list
      .message
        =render @messages
%footer.footer
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = f.file_field :image, class: 'hidden'
          = fa_icon 'picture-o', class: 'icon'
      = f.submit 'Send', class: 'form__submit'
